@{
    ViewData["Title"] = "Exploring View Models (and attribute routing again)";
}
<h3>The current student roster</h3>
<p>
    Check out the current <a asp-controller="Student" asp-action="Items">students</a>.
</p>